/* this is css  */

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.header {
    /* background-color: green; */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.headerButton {
    width: 100px;
    margin: 10px;
    border: 2px solid lightblue;
    text-align: center;
}

.headerButton:hover {
    background-color: aliceblue;
}

.centerStage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.centerTile {
    width: 80%;
    height: 80vh;
    border: 1px solid green;
}

.footer {
    display: block;
}

.footerBlock0 {
    background-color: red;    
}

.footerBlock1 {
    background-color: blue;    
}

.footerBlock2 {
    background-color: yellow;    
}
